<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="top-navbar shadow-z-1-hover">
  <div class="subnavbar -one">
    <div class="column col-xs-3">
      <img class="logo" routerLink="/home" src="https://i.imgur.com/eXoTvRC.png">
    </div>
    <ul class="column col-xs-9 text-right">
      <li class="user-avatar" ><a routerLink="/home" href="#null"></a></li>
      <li class="setting"><a routerLink="/home" href="#null"></a></li>
      <li class="lampe"><a  routerLink="/home" href="#null"></a></li>
    </ul>
  </div>
