<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
          <h2> <strong> FACTURATION </strong></h2>
            <form [formGroup]="facturationForm" >
              <div class="form-group">
                <label for="langue"> Langue * </label>
                <input type="text" formControlName="langue" class="form-control" [ngClass]>
              </div>
              <div class="for m-group">
                <label id="numTVA" for="numTVA">Numero de TVA </label>
                <select id="selectva"  formControlName="numTVA">
                <option value="HJ">HJ639563</option>
                </select>
              </div>
              <div class="form-group">
                <label id="tauxTVA"for="tauxTVA">Taux de TVA par defaut</label>
                <select id="selectTVA" formControlName="tauxTVA">
                <option value="fisrtNum">20%</option>
                <option value="secondNum">14%</option>
                <option value="thirdNum">10%</option>
                <option value="firthNum">7%</option>
                </select>
              </div>
              <div class="form-group">
                <label id="delaiPaiement"for="delaiPaiement"> Délai de paiement </label>
                <input id="textpaiement" type="text" formControlName="localisation" class="form- control" [ngClass]>
                <select id='delai' formControlName="delaiPaiement">
                <option value="delaiMini">1 Jours</option>
                <option value="delaiMaxi">7 Jours</option>
                </select>
              </div>
              <div class="form-group">
              <label id="message" for="message"> Message </label>
              <textarea rows="8" cols="30" name="comment">
              Enter text here...</textarea>
              </div>
              </form>
            </div>
        </div>
    </div>
