.jumbotron,{
    height: 16cm;
    width: 10cm;
    position: absolute;
    left: 20.6cm;
    top: 4cm;

}
form, .col-sm-6offset-sm-3
{
  position: absolute;
  width: 6cm;
  height: 8cm;
  left: -1.6cm;
  top: 0.5cm;
}
input{
  height: 0.7cm;
}
h2{
  position: absolute;
  left: -1.7cm;
  top: -1cm;
}
#selectva{
  position: absolute;
  top: 2.8cm;
  width: 6cm;
  left: 0cm;
}
#tauxTVA{
  position: absolute;
  left: 0cm;
  width: 10cm;
  top: 3.5cm;
  font-size: 15px;
}
#selectTVA{
  position: absolute;
  width: 6cm;
  left: 0cm;
  top: 4.3cm;
}
#delaiPaiement{
  position: absolute;
  top: 5cm;
  width: 4cm;

}
#textpaiement{
 position: absolute;
 width: 2cm;
 top: 5.8cm;
 width: 3.8cm;
 left: 0cm;
}
#delai{
  position: absolute;
  top: 5.8cm;
  left: 4cm;
}
#message{
  position: absolute;
  top: 7cm;
}
textarea
{
  position: absolute;
  top: 8cm;
}
