<form class="" action="index.html" method="post">
  <table>
    <thead>
      <th>&nbsp;</th>
      <th><label for="civilité">Civilité</label></th>
      <th><label for="fonction">Nom Fonction</label></th>
      <th><label for="email">Email</label></th>
      <th><label for="numTelephone1">Num de telephone</label></th>
      <th><label for="numTelephone2">num de telephone(2)</label></th>
    </thead>
    <tbody>
            <tr *ngFor="let elem of dynamicElement; let i = index;">
             <td (click)="deleteRow(i)">
               <i class="fa fa-trash fa-2x"></i>
             </td>
               <td>
                 <select class="civilité" name="civilité" [(ngModel)]="elem[i].elem1">
                   <option value="homme">Homme</option>
                   <option value="femme">Femme</option>
                 </select>
               </td>
               <td>
                 <input [(ngModel)]="elem[i].elem2" class="form-control" type="text" />
               </td>
               <td>
                 <input [(ngModel)]="elem[i].elem3" class="form-control" type="text"/>
               </td>
               <td>
                 <input [(ngModel)]="elem[i].elem4" class="form-control" type="text"/>
               </td>
               <td>
                 <input [(ngModel)]="elem[i].elem5" class="form-control" type="text"/>
               </td>
           </tr>
       </tbody>
  </table>
             <button type="button" name="button" (click)="addRow(i)">Ajouter un nouveau contact</button>
</form>
