<!DOCTYPE html>
<html>
<body>
  <header>
      <div class="container">
        <h1 class="logo">
      <img src="assets/images/LOGO.png"  alt="ou es tu" >
      </h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Conditions</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
</body>
</html>
<html>
<body>
  <div class="bg">
     <div data-packed="true" class="txtNew" id="iafavgir">
       <h2 class="font_2">
         <span style="font-size:72px;">
           <span style="letter-spacing:0.05em;">Secure & Garanteed </span></span>
         </h2>
       </div>
       <a routerLink="/login"><button class="btn btn-success pull-right" > Se connecter</button></a>
</div>
</body>
</html>
