
.sidenav {
  position: absolute;
  height: 40cm;;
  width: 40px;
  z-index: 1;
  top: 1.36cm;
  left: 0;
  background-color: #D3D3D3;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Lato", sans-serif;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
#b1{
  position: absolute;
  left: -0.4cm;
  top: 0cm;
}

#b2{
  position: absolute;
  top: 1cm;
  left: -0.4cm;
}
#b3{
  position: absolute;
  top: 2cm;
  left: -0.4cm;
}
#b4{
  position: absolute;
  top: 3cm;
  left: -0.4cm;
}
