.jumbotron,{
    height: 10cm;
    width: 8cm;
    position: absolute;
    left: 3.6cm;
    top: 4cm;

}
form, .col-sm-6offset-sm-3
{
  position: absolute;
  width: 6cm;
  left: -1.6cm;
  top: 0.5cm;
}
input{
  height: 0.7cm;
}
h2{
  position: absolute;
  left: -1.7cm;
  top: -1cm;

}
