  <div class="header">
    <h2>Créer client</h2>
  </div>
  <div>
  <form class="" action="index.html" method="post">
    <div class="infoClient">
      <app-info-client></app-info-client>
    </div>
    <div class="adresse">
      <app-adresse></app-adresse>
    </div>
    <div class="facturation">
      <app-facturation></app-facturation>
    </div>
    <div class="personne">
      <app-personne-de-contact></app-personne-de-contact>
    </div>
  </form>
  <button type="button" name="button" (onClick)="onSubmit" routerLink="/compteClient">Enregistrer</button>
</div>
